* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
     height: 100%;
     width: 100%;
    background-color: black;
}
nav{
    display: flex;
    background-color: rgb(46, 68, 165);
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 7%;
    border-radius: 20px;
    margin: 20px;
}
ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
ul a{
    text-decoration: none;
    color: white;
}
nav img{
    height: 100vh;
    width: 100vh;
}
main{
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://plus.unsplash.com/premium_photo-1732657254967-77466fdf86a1?q=80&w=1410&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
main .hero{
    display: flex;
    margin-top: 35%;
    margin-right: 29%;
    gap: 20px;
    height: 50%;
    width: 70%;
    /* background-color: blue; */
}
main .hero .card1{
    background-color: rgba(209, 13, 13, 0.5);
    height: 90%;
    width: 19%;
    background-image: url(https://plus.unsplash.com/premium_photo-1732657253116-15f8ae66d06f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1pbi1zYW1lLXNlcmllc3wyfHx8ZW58MHx8fHx8
    );
    background-size: cover;
    background-position: center;
}
main .hero .card2{
    background-color: rgba(209, 13, 13, 0.5);
    height: 90%;
    width: 19%;
    background-image: url(https://plus.unsplash.com/premium_photo-1732657255050-40aab38e3ccc?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1pbi1zYW1lLXNlcmllc3wzfHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
    
}
main .hero .card3{
    background-color: rgba(209, 13, 13, 0.5);
    height: 90%;
    width: 19%;
    background-image: url(https://plus.unsplash.com/premium_photo-1732657254847-fbf72d5683a3?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1pbi1zYW1lLXNlcmllc3w5fHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
}
main .hero .card4{
    background-color: rgba(209, 13, 13, 0.5);
    height: 90%;
    width: 19%;
    background-image: url(https://plus.unsplash.com/premium_photo-1736271325783-2a7ba4cb3ddb?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8fHw%3D);
    background-size: cover;
    background-position: center;
}
main .hero .card5{
    background-color: rgba(209, 13, 13, 0.5);
    height: 90%;
    width: 19%;
    background-image: url(https://plus.unsplash.com/premium_photo-1716866637625-381421238aca?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about-page{
    height: 100%;
    width: 100%;

    /* background-color: blue; */
}
.heading{
    background-color: red;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: white;
}
.main-content{
    display: flex;
    /* background-color: yellow; */
    height: 100%;
    width: 100%;
    /* gap: 20px; */

}
.content{
    background-color: green;
    height: 100%;
    width: 50%;

}
.content.one{
    background-color: black;
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content.two{
    background-color: purple;
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    color: white;
    background-image: url(./map.png);
    background-size: cover;
    /* background-position: center; */
}
